<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>

<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>

<p>
  <strong>Inhabitants:</strong>
  <%= @world.inhabitants %>
</p>



<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
