<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>

	<% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
             <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> | 
            <%= link_to "Login With Github", user_github_omniauth_authorize_path, :class => 'navbar-link'  %>
          <% end %>

<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>

<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>



<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Destroy', @world.destroy , data: { confirm: 'Are you sure?' } %>
     

<%= link_to 'Back', worlds_path %>
