<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>

<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>

<p>
  <strong>Inhabitants:</strong>
  <%= @world.inhabitants %>
</p>

<% if @world.user == current_user %>
    <i>Created by you!</i>
    <strong><%= link_to "Edit World", edit_world_path(@world) %></strong>
<% else %>
    <i>Created by <%= @world.user.email %></i>
<% end %>

<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
