<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Worlds:</strong>
  <%= @player.worlds %>
</p>

<p>
  <strong>Characters:</strong>
  <%= @player.characters %>
</p>

<p>
  <strong>Description:</strong>
  <%= @player.description %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
